
h1{
    color: blue;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

button.btn a{
    color: #ffFf;
    text-decoration: none;
}

.error{
    color: red;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgb(186, 209, 255);
}

table{
    width: 90%;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
}

/* hiển thị sản phẩm */
.card#card{
    margin: 8px;
}

img#img{
    padding-top: 5px;
    height: 300px;
}

#themsp{
    margin-top: 10px;
}

.hide{
    visibility: hidden;
}